--
-- PostgreSQL database dump
--

-- Dumped from database version 17.3
-- Dumped by pg_dump version 17.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AccountStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AccountStatus" AS ENUM (
    'ACTIVE',
    'SUSPENDED',
    'DEACTIVATED'
);


ALTER TYPE public."AccountStatus" OWNER TO postgres;

--
-- Name: RequestStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RequestStatus" AS ENUM (
    'PENDING',
    'VIEWED',
    'RESPONDED',
    'CLOSED'
);


ALTER TYPE public."RequestStatus" OWNER TO postgres;

--
-- Name: ResponseStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ResponseStatus" AS ENUM (
    'PENDING',
    'ACCEPTED',
    'REJECTED'
);


ALTER TYPE public."ResponseStatus" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'CLIENT',
    'LAWYER',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ClientProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ClientProfile" (
    id text NOT NULL,
    name text,
    photo text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL,
    "registrationPending" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."ClientProfile" OWNER TO postgres;

--
-- Name: ConsultationRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ConsultationRequest" (
    id text NOT NULL,
    "clientProfileId" text NOT NULL,
    "lawyerProfileId" text NOT NULL,
    message text NOT NULL,
    status public."RequestStatus" DEFAULT 'PENDING'::public."RequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    response text,
    "responseReason" text,
    "responseStatus" public."ResponseStatus" DEFAULT 'PENDING'::public."ResponseStatus" NOT NULL,
    "responseTimestamp" timestamp(3) without time zone
);


ALTER TABLE public."ConsultationRequest" OWNER TO postgres;

--
-- Name: Education; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Education" (
    id text NOT NULL,
    degree text NOT NULL,
    institution text NOT NULL,
    year integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lawyerProfileId" text NOT NULL
);


ALTER TABLE public."Education" OWNER TO postgres;

--
-- Name: EmailOtp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmailOtp" (
    id text NOT NULL,
    email text NOT NULL,
    otp text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "isUsed" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."EmailOtp" OWNER TO postgres;

--
-- Name: LawyerPracticeArea; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LawyerPracticeArea" (
    "lawyerProfileId" text NOT NULL,
    "practiceAreaId" text NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LawyerPracticeArea" OWNER TO postgres;

--
-- Name: LawyerPracticeCourt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LawyerPracticeCourt" (
    "lawyerProfileId" text NOT NULL,
    "practiceCourtId" text NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LawyerPracticeCourt" OWNER TO postgres;

--
-- Name: LawyerProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LawyerProfile" (
    id text NOT NULL,
    photo text,
    location text,
    experience integer,
    bio text,
    "consultFee" integer,
    "barId" text,
    "isVerified" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL,
    "specializationId" text,
    "primaryCourtId" text,
    "registrationPending" boolean DEFAULT true NOT NULL,
    name text
);


ALTER TABLE public."LawyerProfile" OWNER TO postgres;

--
-- Name: LawyerService; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LawyerService" (
    "lawyerProfileId" text NOT NULL,
    "serviceId" text NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LawyerService" OWNER TO postgres;

--
-- Name: PhoneOtp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PhoneOtp" (
    id text NOT NULL,
    "phoneNumber" text NOT NULL,
    otp text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    role public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PhoneOtp" OWNER TO postgres;

--
-- Name: PracticeArea; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PracticeArea" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PracticeArea" OWNER TO postgres;

--
-- Name: PracticeCourt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PracticeCourt" (
    id text NOT NULL,
    name text NOT NULL,
    location text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PracticeCourt" OWNER TO postgres;

--
-- Name: RefreshToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RefreshToken" (
    id text NOT NULL,
    "hashedToken" text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RefreshToken" OWNER TO postgres;

--
-- Name: SavedLawyer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SavedLawyer" (
    id text NOT NULL,
    "clientProfileId" text NOT NULL,
    "lawyerProfileId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SavedLawyer" OWNER TO postgres;

--
-- Name: Service; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Service" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "isPredefined" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Service" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "phoneNumber" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastLogin" timestamp(3) without time zone,
    "accountStatus" public."AccountStatus" DEFAULT 'ACTIVE'::public."AccountStatus" NOT NULL,
    email text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserRole; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserRole" (
    id text NOT NULL,
    role public."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public."UserRole" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: ClientProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ConsultationRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Education; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: EmailOtp; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EmailOtp" (id, email, otp, "expiresAt", "isUsed", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: LawyerPracticeArea; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LawyerPracticeCourt; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LawyerProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LawyerService; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PhoneOtp; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PhoneOtp" (id, "phoneNumber", otp, "expiresAt", role, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PracticeArea; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PracticeCourt; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: RefreshToken; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SavedLawyer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SavedLawyer" (id, "clientProfileId", "lawyerProfileId", "createdAt") FROM stdin;
a35dfebf-e6fc-406a-91c3-a814f439be51	550e8400-e29b-41d4-a716-446655440026	550e8400-e29b-41d4-a716-446655440029	2025-05-05 10:28:57.087
d46efcf2-dab5-4c4a-8271-a148fea138d5	550e8400-e29b-41d4-a716-446655440027	550e8400-e29b-41d4-a716-446655440030	2025-05-05 10:28:57.09
0b17f380-46fb-4a6a-bedb-cb854493148c	550e8400-e29b-41d4-a716-446655440028	550e8400-e29b-41d4-a716-446655440031	2025-05-05 10:28:57.092
\.


--
-- Data for Name: Service; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserRole; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ClientProfile ClientProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClientProfile"
    ADD CONSTRAINT "ClientProfile_pkey" PRIMARY KEY (id);


--
-- Name: ConsultationRequest ConsultationRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConsultationRequest"
    ADD CONSTRAINT "ConsultationRequest_pkey" PRIMARY KEY (id);


--
-- Name: Education Education_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Education"
    ADD CONSTRAINT "Education_pkey" PRIMARY KEY (id);


--
-- Name: EmailOtp EmailOtp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmailOtp"
    ADD CONSTRAINT "EmailOtp_pkey" PRIMARY KEY (id);


--
-- Name: LawyerPracticeArea LawyerPracticeArea_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerPracticeArea"
    ADD CONSTRAINT "LawyerPracticeArea_pkey" PRIMARY KEY ("lawyerProfileId", "practiceAreaId");


--
-- Name: LawyerPracticeCourt LawyerPracticeCourt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerPracticeCourt"
    ADD CONSTRAINT "LawyerPracticeCourt_pkey" PRIMARY KEY ("lawyerProfileId", "practiceCourtId");


--
-- Name: LawyerProfile LawyerProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerProfile"
    ADD CONSTRAINT "LawyerProfile_pkey" PRIMARY KEY (id);


--
-- Name: LawyerService LawyerService_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerService"
    ADD CONSTRAINT "LawyerService_pkey" PRIMARY KEY ("lawyerProfileId", "serviceId");


--
-- Name: PhoneOtp PhoneOtp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PhoneOtp"
    ADD CONSTRAINT "PhoneOtp_pkey" PRIMARY KEY (id);


--
-- Name: PracticeArea PracticeArea_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PracticeArea"
    ADD CONSTRAINT "PracticeArea_pkey" PRIMARY KEY (id);


--
-- Name: PracticeCourt PracticeCourt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PracticeCourt"
    ADD CONSTRAINT "PracticeCourt_pkey" PRIMARY KEY (id);


--
-- Name: RefreshToken RefreshToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_pkey" PRIMARY KEY (id);


--
-- Name: SavedLawyer SavedLawyer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SavedLawyer"
    ADD CONSTRAINT "SavedLawyer_pkey" PRIMARY KEY (id);


--
-- Name: Service Service_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_pkey" PRIMARY KEY (id);


--
-- Name: UserRole UserRole_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ClientProfile_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ClientProfile_userId_key" ON public."ClientProfile" USING btree ("userId");


--
-- Name: ConsultationRequest_clientProfileId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ConsultationRequest_clientProfileId_idx" ON public."ConsultationRequest" USING btree ("clientProfileId");


--
-- Name: ConsultationRequest_lawyerProfileId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ConsultationRequest_lawyerProfileId_idx" ON public."ConsultationRequest" USING btree ("lawyerProfileId");


--
-- Name: Education_lawyerProfileId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Education_lawyerProfileId_key" ON public."Education" USING btree ("lawyerProfileId");


--
-- Name: EmailOtp_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmailOtp_email_idx" ON public."EmailOtp" USING btree (email);


--
-- Name: EmailOtp_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EmailOtp_email_key" ON public."EmailOtp" USING btree (email);


--
-- Name: EmailOtp_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmailOtp_expiresAt_idx" ON public."EmailOtp" USING btree ("expiresAt");


--
-- Name: LawyerPracticeArea_practiceAreaId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LawyerPracticeArea_practiceAreaId_idx" ON public."LawyerPracticeArea" USING btree ("practiceAreaId");


--
-- Name: LawyerPracticeCourt_practiceCourtId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LawyerPracticeCourt_practiceCourtId_idx" ON public."LawyerPracticeCourt" USING btree ("practiceCourtId");


--
-- Name: LawyerProfile_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "LawyerProfile_userId_key" ON public."LawyerProfile" USING btree ("userId");


--
-- Name: LawyerService_serviceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LawyerService_serviceId_idx" ON public."LawyerService" USING btree ("serviceId");


--
-- Name: PhoneOtp_phoneNumber_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PhoneOtp_phoneNumber_expiresAt_idx" ON public."PhoneOtp" USING btree ("phoneNumber", "expiresAt");


--
-- Name: PracticeArea_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PracticeArea_name_key" ON public."PracticeArea" USING btree (name);


--
-- Name: PracticeCourt_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PracticeCourt_name_key" ON public."PracticeCourt" USING btree (name);


--
-- Name: RefreshToken_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RefreshToken_userId_idx" ON public."RefreshToken" USING btree ("userId");


--
-- Name: SavedLawyer_clientProfileId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SavedLawyer_clientProfileId_idx" ON public."SavedLawyer" USING btree ("clientProfileId");


--
-- Name: SavedLawyer_clientProfileId_lawyerProfileId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SavedLawyer_clientProfileId_lawyerProfileId_key" ON public."SavedLawyer" USING btree ("clientProfileId", "lawyerProfileId");


--
-- Name: SavedLawyer_lawyerProfileId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SavedLawyer_lawyerProfileId_idx" ON public."SavedLawyer" USING btree ("lawyerProfileId");


--
-- Name: Service_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Service_name_key" ON public."Service" USING btree (name);


--
-- Name: UserRole_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserRole_userId_idx" ON public."UserRole" USING btree ("userId");


--
-- Name: UserRole_userId_role_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserRole_userId_role_key" ON public."UserRole" USING btree ("userId", role);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_phoneNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_phoneNumber_key" ON public."User" USING btree ("phoneNumber");


--
-- Name: ClientProfile ClientProfile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClientProfile"
    ADD CONSTRAINT "ClientProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ConsultationRequest ConsultationRequest_clientProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConsultationRequest"
    ADD CONSTRAINT "ConsultationRequest_clientProfileId_fkey" FOREIGN KEY ("clientProfileId") REFERENCES public."ClientProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ConsultationRequest ConsultationRequest_lawyerProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConsultationRequest"
    ADD CONSTRAINT "ConsultationRequest_lawyerProfileId_fkey" FOREIGN KEY ("lawyerProfileId") REFERENCES public."LawyerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Education Education_lawyerProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Education"
    ADD CONSTRAINT "Education_lawyerProfileId_fkey" FOREIGN KEY ("lawyerProfileId") REFERENCES public."LawyerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LawyerPracticeArea LawyerPracticeArea_lawyerProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerPracticeArea"
    ADD CONSTRAINT "LawyerPracticeArea_lawyerProfileId_fkey" FOREIGN KEY ("lawyerProfileId") REFERENCES public."LawyerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LawyerPracticeArea LawyerPracticeArea_practiceAreaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerPracticeArea"
    ADD CONSTRAINT "LawyerPracticeArea_practiceAreaId_fkey" FOREIGN KEY ("practiceAreaId") REFERENCES public."PracticeArea"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LawyerPracticeCourt LawyerPracticeCourt_lawyerProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerPracticeCourt"
    ADD CONSTRAINT "LawyerPracticeCourt_lawyerProfileId_fkey" FOREIGN KEY ("lawyerProfileId") REFERENCES public."LawyerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LawyerPracticeCourt LawyerPracticeCourt_practiceCourtId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerPracticeCourt"
    ADD CONSTRAINT "LawyerPracticeCourt_practiceCourtId_fkey" FOREIGN KEY ("practiceCourtId") REFERENCES public."PracticeCourt"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LawyerProfile LawyerProfile_primaryCourtId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerProfile"
    ADD CONSTRAINT "LawyerProfile_primaryCourtId_fkey" FOREIGN KEY ("primaryCourtId") REFERENCES public."PracticeCourt"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LawyerProfile LawyerProfile_specializationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerProfile"
    ADD CONSTRAINT "LawyerProfile_specializationId_fkey" FOREIGN KEY ("specializationId") REFERENCES public."PracticeArea"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LawyerProfile LawyerProfile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerProfile"
    ADD CONSTRAINT "LawyerProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LawyerService LawyerService_lawyerProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerService"
    ADD CONSTRAINT "LawyerService_lawyerProfileId_fkey" FOREIGN KEY ("lawyerProfileId") REFERENCES public."LawyerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LawyerService LawyerService_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LawyerService"
    ADD CONSTRAINT "LawyerService_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public."Service"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RefreshToken RefreshToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SavedLawyer SavedLawyer_clientProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SavedLawyer"
    ADD CONSTRAINT "SavedLawyer_clientProfileId_fkey" FOREIGN KEY ("clientProfileId") REFERENCES public."ClientProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SavedLawyer SavedLawyer_lawyerProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SavedLawyer"
    ADD CONSTRAINT "SavedLawyer_lawyerProfileId_fkey" FOREIGN KEY ("lawyerProfileId") REFERENCES public."LawyerProfile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserRole UserRole_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

